<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yhtye.shanghaishishigongjiaochaxun"
    android:versionCode="22"
    android:versionName="2.2.1"
    android:windowSoftInputMode="adjustPan" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <!-- 启动界面 -->
        <activity
            android:name="com.yhtye.shanghaishishigongjiaochaxun.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yhtye.shanghaishishigongjiaochaxun.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.yhtye.shanghaishishigongjiaochaxun.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="com.yhtye.shanghaishishigongjiaochaxun.SchemeActivity"
            android:label="@string/title_activity_scheme" >
        </activity>
        <activity
            android:name="com.yhtye.shanghaishishigongjiaochaxun.YueActivity"
            android:label="@string/title_activity_yue" >
        </activity>
        
        <!-- umeng统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="564a98e4e0f55a22f8002a4b" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="baidu" />
        
        <!-- 百度广告联盟 -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="cc687057" />
        <activity   android:name="com.baidu.mobads.AppActivity" 
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
    </application>

</manifest>
