<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.everpod.beijing"
    android:versionCode="2"
    android:versionName="1.0.2"
    android:windowSoftInputMode="adjustPan" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.wifi" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>  
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.yhtye.gongjiaochaxun.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yhtye.gongjiaochaxun.MainActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.yhtye.gongjiaochaxun.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="567a7069e0f55aff490016aa" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xiaomi2" />

        <activity
            android:name="com.yhtye.gongjiaochaxun.SchemeActivity"
            android:label="@string/title_activity_scheme" >
        </activity>
        
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>
